@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@700&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Cinzel', serif;
  background: url('./hbobackground.png') no-repeat center center fixed;
  background-size: cover;
  overflow-x: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh; /* Cambiado a min-height para permitir más contenido */
  position: relative;
  padding: 0 1rem; /* Añadir un poco de padding */
}

.back-button {
  display: inline-block;
  margin-top: 2rem;
  padding: 0.5rem 1rem;
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
  text-decoration: none;
  border-radius: 15px;
  transition: background-color 0.3s ease-in-out;
}

.back-button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

span {
  display: block;
  font-size: 5rem;
  font-weight: 700;
  color: #ffffff;
  white-space: nowrap;
  border-right: 4px solid;
  width: 7ch;
  animation: typing 8s steps(7) infinite alternate, blink .5s infinite step-end alternate;
  overflow: hidden;
}

@keyframes typing {
  0% { width: 0; }
  50% { width: 7ch; }
  100% { width: 0; }
}

@keyframes blink {
  50% { border-color: transparent; }
}

.subtitle {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 700;
  color: #ffffff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  margin: 1rem 0;
}

.time {
  font-size: 1.5rem;
  color: #ffffff;
  text-align: center;
  margin-top: 0.5rem;
}


/* Media Queries para Responsividad */
@media (max-width: 768px) {
  span {
    font-size: 3rem; /* Reducir el tamaño de la fuente en pantallas más pequeñas */
  }

  .subtitle {
    font-size: 2rem; /* Ajustar el tamaño de la subtítulo */
  }
}

@media (max-width: 480px) {
  span {
    font-size: 2.5rem; /* Reducir aún más el tamaño de la fuente */
  }


  .subtitle {
    font-size: 1.5rem; /* Ajustar el tamaño de la subtítulo */
  }

 
}

.footer {
  background-color: rgba(0, 0, 0, 0.7); /* Fondo semi-transparente */
  color: #ffffff; /* Color del texto */
  text-align: center; /* Centrar el texto */
  padding: 1rem; /* Espaciado interno */
  position: relative; /* Posición relativa para el footer */
  bottom: 0; /* Asegura que esté al fondo */
  width: 100%; /* Ancho completo */
  margin-top: 2rem; /* Espacio arriba del footer */
  font-family: 'Cinzel', serif; /* Asegurarse de que la fuente sea la correcta */
  font-size: 1rem; /* Tamaño de fuente */
}

.footer a {
  color: #ffffff; /* Color del enlace */
  text-decoration: underline; /* Subrayar el enlace */
}

.footer a:hover {
  color: #ffcc00; /* Color del enlace al pasar el ratón */
}
